* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #eeeeea;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 70px;
    height: 10hv; /* Fixed height */
    border-radius: .75rem;
    background-size: cover; /* Ensures the image fills the card without stretching */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    cursor: pointer;
    overflow: hidden;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}





.card>.row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 50%;
    
}

.card>.row>.icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card>.row>.description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #62c902;
    padding-top: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.description h4 {
    text-transform: uppercase;
    color: #17cce4;
}

input {
    display: none;
}

input:checked+label {
    width: 600px;
    
}

input:checked+label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('images/1.jpeg');
}

.card[for="c2"] {
    background-image: url('images/2.jpeg');
}

.card[for="c3"] {
    background-image: url('images/3.jpeg');
}

.card[for="c4"] {
    background-image: url('images/4.jpeg');
}

.card[for="c5"] {
    background-image: url('images/5.jpeg');
}

.card[for="c6"] {
    background-image: url('images/7.jpeg');
}

.card[for="c7"] {
    background-image: url('images/8.jpeg');
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header {
    text-align: center; /* Centers the text inside the header */
    margin-bottom: 20px; /* Space between the header and cards */
    font-size: 2rem; /* Adjust title size as needed */
    
}
